on:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for OIDC
  contents: write
  issues: write
  pull-requests: write

name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release

      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}

      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "npm"
          registry-url: "https://registry.npmjs.org"
        if: ${{ steps.release.outputs.release_created }}

      - name: Install dependencies
        run: npm ci
        if: ${{ steps.release.outputs.release_created }}
        env:
          HUSKY: 0

      - name: Build the project and generate docs
        run: npm run build
        if: ${{ steps.release.outputs.release_created }}

      - name: Deploy docs to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ steps.release.outputs.release_created }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs

      - run: npm publish --access=public
        if: ${{ steps.release.outputs.release_created }}
